<nav class="navbar navbar-expand-sm navbar-light bg-white fixed-top" style="background-color: #ffffff;">
    <a class="navbar-brand" href="#"><img src="img/ht-logo.png" alt="Healthy Together Logo" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/joinus.html">Join Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/resources.html">Resources</a></li>
        </ul>
        <a href="https://app.uniteus.io/sign-in" target="_blank" class="btn btn-default my-2 my-sm-0">Login</a>
    </div>
</nav>
